<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DeTaiPTUD_PhongTro.Properties.Settings.PhongTroSVConnectionString"
      connectionString="Data Source=HOANGHUU\SQLEXPRESS;Initial Catalog=PhongTroSV;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DeTaiPTUD_PhongTro.Properties.Settings.PhongTroSVConnectionString1"
      connectionString="Data Source=Duc-pc;Initial Catalog=PhongTroSV;Persist Security Info=True;User ID=sa;Password=sapassword"
      providerName="System.Data.SqlClient" />
    <add name="DeTaiPTUD_PhongTro.Properties.Settings.PhongTroSVConnectionString2"
      connectionString="Data Source=DESKTOP-05B3ABL;Initial Catalog=PhongTroSV;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DeTaiPTUD_PhongTro.Properties.Settings.PhongTroSVConnectionString3"
      connectionString="Data Source=HOANGHUU;Initial Catalog=PhongTroSV;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DeTaiPTUD_PhongTro.Properties.Settings.PhongTroSVConnectionString4"
      connectionString="Data Source=HOANGHUU\SQLEXPRESS;Initial Catalog=PhongTroSV;User ID=sa;Password=sapassword"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>